@font-face {
	src: url("../font/Cafe24Ohsquare.ttf");
	font-family: "24bold";
}

@font-face {
	src: url("../font/Cafe24SsurroundAir.ttf");
	font-family: "24normal";
}

h1 {
	font-family: "24bold";
}

h2 {
	font-family: "24normal";
}

button {
	margin-left: 5px;
	border: none;
	color: #753422;
	background: #FFE194;
	font-size: 20px;
	font-family: "24normal";
}

button:hover {
	color: white;
	background: #B8DFD8;
	font-family: "24normal";
}

a {
	text-align: center;
	text-decoration: none;
	color: #C9D6DF;
	font-family: "24bold";
}

a:hover {
	text-align: center;
	text-decoration: none;
	color: #B8DFD8;
	font-family: "24bold";
}

.noDrag {
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}